.pd-main-menu{
    padding-top: 35px;
}

.pd-main-menu .active svg{
    background: white;
    transition: 0.5;
}

.pd-main-menu a svg{
    border-radius: 5px;
    padding: 7px;
    height: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.5;
    margin-right: 10px;
}

.pd-main-menu a {
    margin: 10px 0;   
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.5s;
    padding: 7px;
    text-decoration: none !important;
    color: white;
    font-size: 14px;
    font-weight: 300;
}



.pd-main-menu a:hover svg{
    background: white;
    transition: 0.5;
}

.pd-main-menu a:hover path{
    fill: #0061af;
    transition: 0.5;
}

.pd-main-menu a.disabled:hover {
    cursor: no-drop;
    transition: 0.5;
}

.pd-main-menu a.disabled:hover svg{
    background: transparent;
    cursor: no-drop;
    transition: 0.5;
}

.pd-main-menu a.disabled:hover path {
    fill: white;
}

.pd-main-humberger{
    padding-left: 10px;
}
.pd-main-menu a span{
    margin-right: 20px;
}
.pd-main-menu a.disabled span{
    filter: opacity(0.5);
}

.pd-hide{
    display: none;
}

.pd-visible{
    display: block;
}